{% macro with_image(item) -%}
  <div class="mdl-cell mdl-cell--4-col item-card with-image mdl-card mdl-shadow--2dp" style="background: url('{{item.image_file}}') center / cover;">
    <div class="mdl-card__title" >
      <h4> {{ item.name }} </h4>
    </div>
    <div class="mdl-card__actions mdl-card--expand"></div>
  </div>
{%- endmacro %}


{% macro without_image(item) -%}
      <div class="mdl-cell mdl-cell--4-col item-card without-image mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" >
          <h4> {{ item.name }} </h4>
        </div>
        <div class="mdl-card__actions mdl-card--expand"></div>
      </div>
{%- endmacro %}


{% macro add_new(category_id) -%}
{# Creates an styled card with the action "Add New Item" #}
  <div class="mdl-cell mdl-cell--4-col new-item-card item-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h4>  Coundn't find your item? </h4>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a href="#" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" onclick="createNewItem({{category_id}})">Add new Item</a>
      <div class="mdl-layout-spacer"></div>
    </div>
  </div>
{%- endmacro %}
