<style>
  .mdl-textfield__error {
    visibility: visible;
  }
</style>
<form action="/item/{{ item.id }}" method="put" accept-charset="utf-8" enctype=multipart/form-data>
  {{ form.csrf_token }}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.name(class_="mdl-textfield__input") }}
    <label class="mdl-textfield__label" for="name">Title</label>
    {% for error in form.name.errors %}
    <span class="mdl-textfield__error">{{error}}</span>
    {% endfor %}
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {{ form.description(class_="mdl-textfield__input") }}
    <label class="mdl-textfield__label" for="name">Description</label>
    {% for error in form.description.errors %}
    <span class="mdl-textfield__error">{{error}}</span>
    {% endfor %}
  </div>
  <div class="mdl-textfield">
    {{ form.image_file() }}
    {% for error in form.image_file.errors %}
    <span class="mdl-textfield__error">{{error}}</span>
    {% endfor %}
  </div>
  <button onclick="cancelNewItem()" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    Cancel
  </button>
  <button onclick="postItem('/item/{{ item.id }}', 'put')" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button-accent">
    Save
  </button>
</form>

