<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="google-signin-client_id" content="969890289717-96158do2n0gntojond0bnrmor86gdriu.apps.googleusercontent.com">
    <title>Catalog App</title>
    <!-- provides easy http requests -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.js"></script>

    <script>
window.___gcfg = {
    lang: 'en-US',
    parsetags: 'explicit'
}
    </script>
    <!-- Google Sign-in -->
    <script src="https://apis.google.com/js/platform.js" ></script>

    <!-- Material desing light -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-orange.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>

    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='page.js') }}"> </script>
    <style>
      .login_panel {
        position: fixed;
        right: 0;
        width: 200px;
        padding: 10px;
        background-color: white;
        top: 60px;
        z-index: 2;
      }
    </style>
  </head>
  <body>
    <form id="csrf_form" action="#" method="post" enctype=multipart/form-data>
      {{ csrf_form.csrf_token }}
    </form>
    {% if not username %}
      <div id="login_panel" class="login_panel" hidden>
          <span style="padding-botton: 30px;"> Login with google:</span>
          <div id="googleSignInButton">
            <span class="g-signin"
                  data-scope="openid email"
                  data-clientid="{{flow.client_id}}"
                  data-redirecturi="{{flow.redirect_uri}}"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="googleLoginCallback"
                  data-approvalprompt="force">
            </span>
          </div>
          <hr>
          <div style="margin: 5px;"> Login with Facebook:</div>
      </div>
    {% endif %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <span id="header-title" class=mdl-layout-title>Catalog App</span>
          {% if not username %}
            <button style="margin: 10px; color: white; background-color: #EF6C00;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
                onclick="toggleShowLoginPanel()">
                <strong>Login</strong>
            </button>
          {% else %}
            <button style="margin: 10px; color: white; background-color: #EF6C00;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect "
                onclick="logout()">
                <strong>Logout</strong>
            </button>
          {% endif %}
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Categories</span>
        <nav class="mdl-navigation">
          {% for category in categories %}
          <a href="#" class="mdl-navigation__link" onclick='selectCategory("{{category.name}}", {{category.id}})'>{{ category.name }}</a>
          {% endfor %}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          Select a category to begin.
        </div>
      </main>
    </div>
  </body>
</html>
