
<style>

.item-card {
    height: 200px;
}

.item-card.without-image {
    background: #FFE0B2;
    cursor: pointer;
}

.item-card > .mdl-card__title {
    align-items: flex-start;
    height: 54px;
    padding: 12px;
}

.item-card.with-image {
    cursor: pointer;
}

.item-card.with-image > .mdl-card__title {
    background: rgba(230, 81, 0, 0.45);
}

.item-card.without-image > .mdl-card__title {
    background: #EF6C00;
}


.item-card > .mdl-card__title > h4 {
    color: #fff;
    margin-top: 0;
    font-weight: 500;
}

.item-card > .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.new-item-card.mdl-card {
    background: #0D47A1;
}

.new-item-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.3);
}

.new-item-card > .mdl-card__title,
.new-item-card > .mdl-card__actions,
.new-item-card > .mdl-card__actions > .mdl-button {
    color: #fff;
}
</style>

<div class="mdl-grid">
{% import 'macros/item_card.html' as item_card %}
  {% if logged_in %}
    {{ item_card.add_new(category_id) }}
  {% endif %}
  {% for item in items %}
    {% if item.image_file %}
      {{ item_card.with_image(item) }}
    {% else %}
      {{ item_card.without_image(item) }}
    {% endif %}
  {% endfor %}
</div>

