<style>
img.perfect-fit {
  width: 100%;
  height: auto;
  max-height:100%;
  max-width:100%;
}
.item-image,
.item-description {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px 5px 5px 5px;
}
/*
.item-title {
  margin: 20px 20px 20px 20px;
  padding: 12px;
}
.mdl-cell {
  background: #eee;
} */

.button-cell {
  padding-top: 16px;
}
</style>

<div class="mdl-grid">
{% if username %}
  <div class="mdl-cell mdl-cell--2-col button-cell">
    <button onclick="editItem({{ item.id }})" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect action-button">
      <i class="material-icons">edit</i>
    </button>
    <button onclick="deleteItem('{{ item.url }}', '{{ url_for('list_items', id=item.category_id) }}', '{{item.category.name}}')" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect action-button">
      <i class="material-icons">delete</i>
    </button>
    <form id="csrf_form" action="{{ item.url }}" method="delete" accept-charset="utf-8" enctype=multipart/form-data>
      {{ csrf_form.csrf_token }}
    </form>
  </div>
{% endif %}
  <div class="mdl-cell mdl-cell--6-col">
    <h2 class="item-title">
      {{ item.name }}
    </h2>
  </div>
  <div class="mdl-card mdl-cell--12-col mdl-shadow--2dp item-description">
    {% if item.description %}
      <h4>{{ item.description }} </h4>
    {% else %}
      <i> No description provided </i>
    {% endif %}
  </div>
  {% if item.image_file %}
  <div class="mdl-card mdl-cell--12-col mdl-shadow--2dp item-image">
    <img class="perfect-fit" src="{{ item.image_file }}"/>
  </div>
  {% endif %}
</div>
